!!!
%html
  %head
    %meta{content: "IE=edge", http: {equiv: "X-UA-Compatible"}}
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name:"viewport"}

    %title= current_page.data.title || "Better Ukraine"
    = stylesheet_link_tag :site
    = javascript_include_tag :all

    = partial('shared/social-includes')
  %body{class: page_classes}
    .container
      .row
        .col-sm-8
          %main
            = yield
          = partial('shared/social-buttons')
          = partial('shared/disqus')
        .col-sm-4
          %aside(data-spy="affix")
            %ul.nav.nav-pills.nav-stacked
              = nav_link_to('Головна', '/index.html')
            .navigation
              %h3 Стисло про закони
              %ul.nav.nav-pills.nav-stacked
                = nav_link_to('Про звернення громадян', '/laws/citizens-appeals.html')
